{% extends "anon_post/root.html" %}

{% block title %}
    Anonymous Post Management System
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <center>
                    <h1 style="font-size: 70px;">Anon Post</h1>

                    <h2>A hostel affairs initiative. Now you can post anonymously</h2>
                </center>
            </div>
            <div class="col-md-6" style="margin-top: 75px;">
                <div style="margin-left: 35%;" id="sso-root"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center" style="color: red;">{{ error }}</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsLinks %}
    <script src="//gymkhana.iitb.ac.in/sso/static/widget/js/login.js" type="application/javascript"></script>
    <script type="application/javascript">
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                    results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
        var sso_js = new SSO_JS({
            config: {
                client_id: '{{  }}',
                scope: ['send_mail'],
                state: getParameterByName('next')
            }
        });
        sso_js.iframe_base_url = '//gymkhana.iitb.ac.in/sso/widget/login/?';
        sso_js.init();
    </script>
{% endblock %}