{% extends 'anon_post/root.html' %}

{% block body %}

    <h4>
        <b>There are a lot of occasions when the students are unable to raise specific concerns with the authorities
            since they
            do not want their identity to be revealed.</b>
        <br><br>
        Anonymous Post portal has been essentially made to allow these students
        post anonymously to the Dean Student Affairs.<br><br>
        However, while the portal is anonymous and no user details are stored in database, the
        <b style="color: #f00;">user can be tracked on
        special requests</b>. <br><br>
        <b style="color: #f00;">Avoid any misuse of the
        facility, if found severe action will be taken.</b>
    </h4>

{% endblock %}