{% extends 'anon_cms/logged_in.html' %}
{% load static %}

{% block cssLinks %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-lg-12">
            <div class="panel-group" id="post_list" role="tablist" aria-multiselectable="true">

            </div>
            <nav>
                <ul class="pager">
                    <li class="previous disabled" id="previous-page"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                    <li class="next" id="next-page"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="hide" id="postTemplate">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-1 col-lg-push-11">
                        <a href="{4}" target="_blank">
                            <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                        </a>

                    </div>
                    <div class="col-md-11 col-lg-pull-1">

                        <h4 class="panel-title panel-accordion" role="tab" id="headingOne" data-toggle="collapse"
                            data-parent="#post_list" href="#collapse{0}">
                            <span class="label label-info">#{0}</span>&nbsp;&nbsp;&nbsp;{1}
                            <text class="reply-count-text pull-right">Replies: <b>{3}</b>
                            </text>
                        </h4>
                    </div>
                </div>
            </div>
            <div id="collapse{0}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    {2}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsLinks %}
    <script type="text/javascript">
        var currentOffset = 0;
        var get_all_posts = "{% url 'home:get_all_posts_0' %}" + "{0}/";
        var post_url = "{% url 'home:post' "0" %}".replace("/0/", "/{0}/");
    </script>
    <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
{% endblock %}
